<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles/main.css" />
        <title>Prescription</title>
        <script
          src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
          integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
        ></script>
        <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous"
        />
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.3.0/paper.css"
        />
    
        <link rel="stylesheet" href="/styles/main.css" />
      </head>
<body>
    <main class="prescription">
    <section class="prescription-container A4 portrait sheet padding-10mm">
        <div class="header">
            <div>
                <h2 class="name">Dr. Mukesh D. Gupta</h2>
                <p>MD, DNB, PGDPC</p>
                <p>Obstetrician & Gynaecologist</p>
                <p>Reg No.: 081266</p>
            </div>
            <div class="logo-contain">
                <div class="logo"></div>
            </div>
        </div>
        <div class="header">
            <% const year=input.currentDate.slice(0,4);%>
            <% const month=input.currentDate.slice(5,7); %>
            <% const day=input.currentDate.slice(8,10); %>
            <% const hour=input.currentDate.slice(11,13); %>
            <% const minute=input.currentDate.slice(14,16); %>
            <p>Prescription Serial Number: <%= input.prescriptionNumber %> </p>
            <p>Date: <%=day%>/<%= month %>/<%=year%></p>
        </div>
        <p>Name: <%= input.fullName %></p>
        <p>Address: <pre><%= input.address %></pre> </p>
        <p>Contact Number: <%= input.contactNumber %></p>
        <div class="space">
            <p>Sex: <%= input.gender %></p>
            <p>Age: <%= input.age %>yrs</p>
            <p>Weight: <%= input.weight %>kg</p>
        </div>
        <% if(input.disease=="Other") { %>
            <h3><%= input.otherDisease %></h3>
            <% }else{ %>
        <h3><%= input.disease %></h3>
        <% } %>
        <p>Rx</p>
        <div class="meds">
            <% if(input.disease=="Other") { %>
                <% let medList = Array.isArray(customMedicines) ? customMedicines : [customMedicines]; %>
            <% if (medList.length > 0 && medList[0]) { %>
                <ol>
                    <% medList.forEach((med) => { %>
                        <li><%= med %></li>
                    <% }) %>
                </ol>
            <% } else { %>
                <p>No medicines prescribed.</p>
                <% }}else{ %>
            <% let medList = Array.isArray(medicines) ? medicines : [medicines]; %>
            <% if (medList.length > 0 && medList[0]) { %>
                <ol>
                    <% medList.forEach((med) => { %>
                        <li><%= med %></li>
                    <% }) %>
                </ol>
            <% } else { %>
                <p>No medicines prescribed.</p>
            <% }} %>
        </div>
        <p>Additional Notes: <pre><%= input.notes %></pre></p>
        <div class="footer">
            <div class="inFooter">
                <div class="sign">
                    <img />
                    <p>Doctor's signature <br> <%=day%>/<%= month %>/<%= year %></p>
                </div>
                <div class="stamp">
                    <img />
                    <p>Doctor's Stamp</p>
                </div>
            </div>
        </div>
    </section>
    <div class="buttons">
    <button id="save-btn" class="btn btn-primary">Download PDF</button>
    <form action="/" method="post">
        <button class="btn btn-primary" type="submit">New Patient</button>
    </form>
</div>
    </main>
    <script type="module">
        const button = document.querySelector("#save-btn");
  
        button.addEventListener("click", () => {
          try {
            button.attributes.disabled = true;
            const container = document.querySelector(".prescription-container");
  
            if (!container) throw new Error(`Failed to get prescription element`);
  
            const uuid = crypto.randomUUID().slice(0, 4);
  
            const filename = `prescription_${uuid}`;
  
            const worker = window.html2pdf();
  
            const options = {
              filename,
            };
  
            worker.set(options);
  
            worker.from(container, "element").save();
          } catch (error) {
            console.error(error);
          } finally {
            button.attributes.disabled = false;
          }
        });
      </script>
</body>
</html>
